.content{
    background-color: #efefef;
    font-family: Calibri;
    text-align: left;
}

.navigation-bar {
    background-color: #800000;
    color: #ffffff;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    } 

.navigation-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    }

.navigation-bar a:hover {
    font-weight: bold;
    }

